<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="70c20c65-7d56-47b2-aa69-6b85226902a8" name="End2EndAutomation" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="70c20c65-7d56-47b2-aa69-6b85226902a8fileName">End2EndAutomation</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>